.follow{
    width: 100% !important;
    height: 100px !important;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carts{
    width: 100% !important;
    border-bottom:  1px solid gray;
}