.main-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    z-index: 10000;
    margin: 0;
    height: 60px;
}

.main-item{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    

}
.main-item .nav-link{
    margin: 0 !important;
    color: lightgrey;
    font-size: 16px;
}
.fa-solid{
    color: lightgrey;
}
.main-item:focus-within{
    border-bottom: 2.7px solid rgb(255, 81, 0);
    border-radius: 1px;
}
svg{
    
}


.active {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #0d1117;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    height: 80px;
  }
@media(max-width:864px){
    .main{
        width: 80%;    
    }

}
@media(max-width:500px){
    .main{
        width: 100%;
        flex-wrap: wrap;    
    }    
}