header{
    width: 100%;
    height: 58px;
    background: #24292f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part-first{
    width: 60%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown{
    width: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brands>img{
    width: 35px;
    height: 35px;
    position: relative;
    left: -20px;
}
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    // background: #000;
}
.nextitems{
    width: 65%;
}
.logo{
    background: white;
    border-radius: 50%;
}
#search{
    width: 280px;
    background: none;
    height: 28px;
    outline: none;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(110, 110, 110);
}
#search::placeholder{
    font-size: 14px;
    color:rgb(221, 221, 221);
}
#slash{
    position: relative;
    left: -25px;
}
.nav-item{
    list-style: none;
}
.navchalar{
    font-size: 14px;
    color: white;    
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}
.navchalar:hover{
    color: #b8b8b8;
}

#plus{
    width: 15px;
    height: 15px;
}
.box{
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    flex-direction: column;
    height: 25px;
}
.box>.box-item{
    width: 25px;
    border-radius: 5px;
    height: 3px;
    background-color: rgb(182, 182, 182);
}
#notif{
    width: 25px;
    height: 25px;
}
.res-con{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    background: #24292f;
    position: absolute;
    top: 58px;
    z-index: 10000;
    left: 0;
}
#profile{
    width: 25px;
    height: 25px;
}
@media(max-width:1095px){
    .part-first{
        width: 82%;
    }
    .dropdown{
        width: 10%;
    }
}
@media(max-width:970px){
   header{
    justify-content: center;
    align-items: center;
   } 
   .part-first{
    width: 80%;
}
   .dropdown{
    width: 10%;
    margin-left: 50px;
   }
}
@media(max-width:868px){
    
    .logotip{
        margin-left: 95px;
    }
    #slash{
        display: none;
    }
   .brands>input{
        display: none;
    }
    #nextitems>li{
        display: none;
    }
    #plus{
        display: none;
    }
    #profile{
        display: none;
    }
    .box{
        display: flex;
    }
    #search{
        width: 92%;
        height: 40px;
    }
    #nav-item{
        width: 92%;
        height: 40px;
        display: flex;
        justify-content: start;
        align-items: center;   
        border-bottom: 1px solid #b8b8b8;
        
    }
}