main{
    display: flex;
    justify-content: center;
}

@media (max-width:1020px){
    main{
        flex-direction: column;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins'sans-serif;
}