main{
    display: flex;
    justify-content: space-around;
}

@media (max-width:1020px){
    main{
        flex-direction: column;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins'sans-serif;
    background: #0d1117;;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}